# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../HomeWork_QuanLyNhanVien\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\HomeWork_QuanLyNhanVien\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
